# Path to the ffmpeg executable
# This is optional if you have ffmpeg in your system's PATH
# Or if you are using the ffmpeg-static package
FFMPEG_PATH=

# Azure TTS Credentials
AZURE_TTS_KEY=
AZURE_TTS_REGION=